PROCESSED_FILE_FEATURE_DIR="/root/DATA/liuchengyue/result_files_20231110/feature_pipeline_output/processed_features"
VERSION_STRING_STATISTICS_DIR="/root/DATA/liuchengyue/sync_obs_liuchengyue/version_string_statistics"
LIBRARY_STRING_STATISTICS_DIR="/root/DATA/liuchengyue/sync_obs_liuchengyue/library_string_statistics"